.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgba(30, 228, 255, 0.56);
  height: 500px;
  width: 500px;
  flex-direction: column;
  border-radius: 85px;
  gap: 1rem;

  @media (max-width: 576px) {
    width: 100%;
    height: calc(100vw - 2rem);
    border-radius: 30px;
  }

  .fileName {
    color: #1ee4ff;
    font-family: "Armata";
    font-size: 16px;
    text-align: center;
    margin-top: 0.5rem;
  }

  .sourceUpload,
  .renderUpload {
    label {
      background: #1ee4ff;
      padding: 1rem;
      border-radius: 27px;
      font-family: "Armata";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
      display: flex;
      align-items: center;
      text-align: center;

      color: #000000;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
